<div class="main-container container" id="test">
  <h1>Marche ou crêpe !</h1>
  <div class="btn-container container">
      <button class="btn btn-primary" name="button" id="btn-presentation">Presentation</button>
      <button class="btn btn-primary" name="button" id="btn-menu">Menu</button>
      <button class="btn btn-primary" name="button" id="btn-divers">Images</button>
  </div>

  <div class="tab-container container">
    <div class="text" id="presentation">
      <p>Venez découvrir nos <strong> galettes</strong> en hommage aux Georges célèbres (Brassens, Sand, Harrison...), nos <strong>crêpes</strong> et nos <strong>spécialités culinaires </strong>de notre enfance, le tout dans un cadre <strong> chaleureux </strong>et <strong>contemporain</strong>. Notre équipe, vous accueillera avec plaisir et vous guidera  <strong></strong> afin que votre <strong> repas</strong> vous laisse un <strong>superbe souvenir.</strong><br>
      <br>
      Le <strong>chef cuisinier</strong> de la <strong>crêperie Saint Georges</strong> vous propose des <strong>recettes innovantes, curieuses </strong>et toujours <strong>savoureuses</strong>... Retrouvez les saveurs de votre enfance en <strong>dégustant </strong>une <strong> fantastique crêpe</strong> au <strong> Kinder</strong> ou fourrée aux <strong>fraises Tagada.</strong><br>
      <br>
      Alors pour déguster une <strong> délicieuse crêpe</strong> à notre table, contactez-nous pour réserver !</p>
    </div>
    <div class="text" id="menu">
      <ul>
        <li><strong>RIANTEC</strong> : Poires, sauce chocolat, crème fouettée, glace vanille Bourbon de Madagascar, amandes effilées</li>
        <li><strong>LE CROISIC</strong> : Poires, confiture de lait, glace caramel au beurre salé fleur de sel de Guérande, crumble</li>
        <li><strong>BADEN</strong> : Sauce chocolat, coulis de caramel au beurre salé Bio, glace vanille Bourbon de Madagascar, crispy au chocolat Bio</li>
        <li><strong>BECASSINE</strong> : Coulis de caramel au beurre salé Bio, crumble, crème fouettée</li>
        <li><strong>FARZ PITILIG</strong> : Crêpe épaisse avec au choix Pommes caramélisées OU Coulis de caramel beurre salé Bio, amandes effilées, glace vanille Bourbon de Madagascar</li>
        <li><strong>MONT D'ARREE</strong> : Banane Bio, sauce chocolat, crème fouettée</li>
        <li><strong>ELVEN</strong> (façon Burger) : Pommes caramélisées, crème fouettée, coulis de caramel au beurre salé Bio, amandes effilées</li>
        <li><strong>LOCRONAN</strong> : Pommes caramélisées, coulis de caramel au beurre salé Bio, glace vanille Bourbon de Madagascar</li>
        <li><strong>Crêpe beurre sucre</strong></li>
      </ul>
    </div>
    <div class="text" id="images">
      <div class="card">
        <div class="card_img">
          <%= image_tag ("crepe1.png"), :class => "img-fluid" %>
        </div>
        <div class="card_img">
          <%= image_tag ("crepe2.png"), :class => "img-fluid" %>
        </div>
      </div>
      <div class="card">
        <div class="card_img">
          <%= image_tag ("crepe3.png"), :class => "img-fluid" %>
        </div>
        <div class="card_img">
          <%= image_tag ("crepe4.png"), :class => "img-fluid" %>
        </div>
      </div>
      <div class="card">
        <div class="card_img">
          <%= image_tag ("crepe5.png"), :class => "img-fluid" %>
        </div>
        <div class="card_img">
          <%= image_tag ("crepe6.png"), :class => "img-fluid" %>
        </div>
      </div>
    </div>
  </div>

</div>
